/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

.local-pledge.select {
    background: lightgreen;
}

.select.medium, 
.field.select.addr,
.textarea {
    background: lightgreen;
}
