/* - - - - - - - - - - - - - - - - - - - - -

 Title : 
 Author : 
 URL : http://

 Last Updated : 

- - - - - - - - - - - - - - - - - - - - - */

.local-pledge.select {
    top: -36px;
    margin-bottom: -36px;
}

.local-pledge.select label {
    display: none;
}
